<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Artikel eins</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>

    <header>
      <h1>Beispiele</h1>

    </header>

    <div class="Content">
      <main>

        <ul>
          <li><a href="/steps/01">Schritt 1 (static blog)</a></li>
          <li><a href="/steps/02">Schritt 2 (style-less)</a></li>
          <li><a href="/steps/03">Schritt 3 (Interaktion #1)</a></li>
          <li><a href="/steps/04">Schritt 4 (Interaktion #2)</a></li>
          <li><a href="/steps/10">Schritt 10 (langsame Kommentare)</a></li>
          <li><a href="/steps/15">Schritt 15 (newsletter submit)</a></li>
          <li><a href="/steps/99">Schritt 99 (fertig)</a></li>
        </ul>

      </main>

    </div>
  </body>
</html>