*, ::after, ::before {
  box-sizing: border-box;
}

html {
  background-color: #fafafa;
  color: rgb(82, 82, 91);
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  -moz-osx-font-smoothing: grayscale;
}

body {
  max-width: 1024px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 12px 15px 15px -3px rgba(39, 39, 42, 0.2);
  /*box-shadow:*/
  /*    rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0) 0 0 0 0, rgba(39, 39, 42, 0.05) 0 8px 12px -1px, rgba(39, 39, 42, 0.05) 0 4px 6px -2px;*/

}

header {
  margin-top: 2rem;
  border-bottom: 1px solid rgb(229, 231, 235);
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  text-decoration: none;
  color: rgb(82 82 91/1);
}

header div {
  flex: 1 1 0;
}

header h1 {
  color: rgb(82, 82, 91);
  margin: 0;
  padding: 0;
}

header svg {
  margin-left: -10px;
  height: 48px;
  width: 48px;
  stroke: rgb(113, 113, 122);
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 9999px;
}

header a svg:hover {
  margin-left: -10px;
  height: 48px;
  width: 48px;
  stroke: rgb(82, 82, 91);
  border: 1px solid rgb(82, 82, 91);
  padding: 0.5rem;
  border-radius: 9999px;
}


.Content {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  padding-bottom: 1rem;
}

main {
  padding: 1rem 2rem;
  grid-column: span 8/span 8;
  border-right: 1px solid rgb(229, 231, 235);
}

main img {
  float: left;
  margin-right: 1rem;
  margin-top: 0.5rem;
}

p {
  margin-top: 0;
  color: rgb(82 82 91/1);
  line-height: 1.75rem;
}

h1, h2, h3 {
  padding: 0;
  margin: 0;
  color: rgb(39, 39, 42)
}

h1 {
  margin-bottom: 1rem;
}

.Comments h3 {
  margin-bottom: 1rem;
}

.Comments li {
  list-style: none;

}

form {
  border: 1px solid rgb(229, 231, 235);
  border-radius: 16px;
  padding: 24px;
  margin-top: 1rem;
}

form h2 {
  font-size: 1rem;
  font-weight: bold;
}

.FormRow {
  display: flex;
  width: 100%;
}

form input {
  border: 1px solid rgba(24, 24, 27, 0.1);
  padding: 7px 12px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0) 0 0 0 0, rgba(39, 39, 42, 0.05) 0 4px 6px -1px, rgba(39, 39, 42, 0.05) 0 2px 4px -2px;
  font-weight: 400;
  line-height: 24px;
  flex: 1 1 auto;
  min-width: 0;
  margin-right: 1rem;
}

form .error {
  color: indianred;
  font-weight: 600;
}

form .success {
  color: mediumseagreen;
  font-weight: 600;
}


form button {
  padding: 8px 12px;
  font-weight: 600;
  background-color: rgb(39, 39, 42);
  color: rgb(229, 231, 235);
  border: 0;
  border-radius: 6px;
  cursor: pointer;
}

form button:hover {
  background-color: #fafafa;
  color: rgb(82, 82, 91);
  border: 1px solid rgb(82, 82, 91);
}


aside {
  grid-column: span 4/span 4;
  padding-right: 2rem;
}
